.header {
    width: 100%;
    height: 100%;
    background: #242F42;
    display: flex;
    justify-content: space-between;
    user-select: none;
}
.header-left {
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-left i{
    font-size: 24px;
    color: white;
    line-height: 60px;
    cursor: pointer;   
    margin-right: 10px;
}
.header-left span {
    color:  white;
    font-size: 22px;
}
.header-right {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.full-screen-icon {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.full-screen-icon i {
    font-size: 25px;
    color:  white;
    transform: rotate(45deg);
}
.user-header {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.user-header img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.slide-list {
    color: white;
    cursor: pointer;
}
.slide-list i {
    font-size: 18px;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}